<!DOCTYPE html>

{{ set . "title" "Go Revel" }}
{{ append . "moreScripts" "js/app.js" }}
{{ append . "moreStyles" "css/menu.css" }}

<html>
  {{ template "header.html" . }}

  <body>
    <div id="app"></div>

    <div class="container">
      <div class="row">
        <div class="span6">
          {{template "flash.html" .}}
        </div>
      </div>
    </div>

    {{ template "footer.html" . }}
  </body>
</html>

<!--
{{template "menu.html" .}}
<header class="jumbotron" style="background-color: #253494; margin-bottom: 0;">
  <div class="container">
    <div class="row">
      <h1 style="color: white;">{{.greeting}} <span class="glyphicon glyphicon-globe"></span></h1>
      <p></p>
    </div>
  </div>
</header>
-->


