{{set . "title" "Palette"}}
{{template "header.html" .}}
{{template "menu.html" .}}

<style type="text/css" media="all">
  .navbar-default {
    margin: 0;
  }
  html, body, .row, [class^=col] {
    height: 100%;
  }
  .container { height: calc(100% - 50px); }
  .container {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .row {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 3em;
    font-weight: bold;
  }
  .one { background: #ffffcc; color: #253494; }
  .two { background: #a1dab4; color: #2c7fb8;}
  .three { background: #41b6c4; color: #253494; }
  .four { background: #2c7fb8; color: #a1dab4;}
  .five { background: #253494; color: #ffffcc}
</style>

<div class="container">
  <div class="row">
    <div class="col-md-2 one">
      &#35;ffffcc
    </div>
    <div class="col-md-2 two">
      &#35;a1dab4
    </div>
    <div class="col-md-2 three">
      &#35;41b6c4
    </div>
    <div class="col-md-2 four">
      &#35;2c7fb8
    </div>
    <div class="col-md-2 five">
      &#35;253494
    </div>
  </div>
</div>
