{{ set . "title" "Life" }}
{{ append . "moreScripts" "js/game_of_life/cell.js" }}
{{ append . "moreScripts" "js/game_of_life/world.js" }}
{{ append . "moreScripts" "js/game_of_life/index.js" }}
{{ append . "moreStyles" "css/game_of_life.css" }}
{{ template "header.html" . }}
{{ template "menu.html" . }}
{{ $cols := .cols }}

<div class="container main" style="position: relative;">
  <div class="container">
    <div class="row">
      <!-- The game menu  -->
      <div class="col-md-1 game-menu">
				<ul class="nav nav-stacked">
					<li class="game-menu-custom"><a href="#">Custom</a></li>
					<li class="game-menu-glider"><a href="#">Glider</a></li>
					<li class="game-menu-seed"><a href="#">Seed</a></li>
				</ul>
      </div>
      <!-- -->
      <div class="col-md-1">
				<ul class="nav nav-stacked game-menu-2">
					<li class="game-start">
            <a href="#">
              Start <span class="glyphicon glyphicon-play"></span>
            </a>
          </li>
					<li class="game-stop">
            <a href="#">
              Stop <span class="glyphicon glyphicon-stop"></span>
            </a>
          </li>
				</ul>
      </div>
      <!-- -->
      <div class="col-md-2">
        <div class="stats">
          <h1>Generation</h1>
          <span class="generation">0</span>
          <h1>Population</h1>
          <span class="population">0</span>
        </div>
      </div>
      <!-- The game  -->
      <div class="col-md-8">
        <div class="container game">
          {{range .rows}}
          <div class="row" enum="{{.}}">
              {{range $cols}}
              <div class="col col-md-1 border game-cell" enum="{{.}}">
                  <div class="filler"></div>
                </div>
              {{end}}
            </div>
          {{end}}
        </div>
      </div>
    </div>
  </div>
</div>
