<!-- Document Header -->
<head>
  <!-- Title -->
  <title>{{ .title }}</title>
  <!-- Meta tags -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Link tags -->
  <link rel="stylesheet" type="text/css" href="/public/css/bootstrap-3.3.6.min.css">
  <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
  <!-- javascript -->
  <script src="/public/js/jquery-2.2.4.min.js"></script>
  <script src="/public/js/bootstrap-3.3.6.min.js"></script>
  <!-- Other stylesheets -->
  {{range .moreStyles}}
    <link rel="stylesheet" type="text/css" href="/public/{{.}}">
  {{end}}
</head>
