<style type="text/css" media="all">
  .navbar-default {
    background: #2c7fb8;
    border: none;
    border-radius: 0;
  }
  .navbar-default a {
    color: white !important;
  }
  .active a {
    background: #253494 !important;
  }
  .navbar-default { margin: 0; }
</style>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        Go Revel
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li {{if eql .title "Home"}}class="active"{{end}}>
        <a href="/">
          Home <span class="glyphicon glyphicon-tent"></span>
        </a>
      </li>
      <li {{if eql .title "Life"}}class="active"{{end}}>
        <a href="/Life/Index">
          Game of Life <span class="glyphicon glyphicon-adjust"></span>
        </a>
      </li>
      <li {{if eql .title "Palette"}}class="active"{{end}}>
        <a href="/App/Palette">
          Color Palette <span class="glyphicon glyphicon-tint"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>
